<?xml version="1.0" encoding="UTF-8"?>
<!--<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">  -->
<suite name="Suite">
<listeners>
    
<listener class-name="com.utilities.ExcelListener"/>
     <listener class-name="com.utilities.CSVReporter"/>
    
</listeners>
    <test thread-count="1" name="Test">
    <parameter name="browser" value="chromium"/>
    <classes>
      <class name="com.tests.LoginTest"/>
      <class name="com.utilities.TestBase"/>
    </classes>
  </test>
</suite>
